{% extends "base.html" %}

{% block title_text %}Crear auto{% endblock title_text %}

{% block h1_text %}Crear auto{% endblock h1_text %}

{% block main %}

<form action={% url "inicio:crear_auto" %} method="POST">
    {% csrf_token %}

{% comment %}     
    # SIN FORMULARIOS DE DJANGO
    <p>
        Marca:
        <input type="text" name="marca" placeholder='Fiat, Ford, Chevrolet...'>
    </p>
    <p>
        Modelo:
        <input type="text" name="modelo" placeholder='Uno, S10, Ranger...'>
    </p> 
{% endcomment %}

    {{formulario}}

    <input type="submit" value="Crear">
    {% comment %} <button>Crear</button> {% endcomment %}
</form>

{% endblock main %}